body{
    background-color: rgb(61, 61, 61);
}
#navbar-home{
    font-size: 15px;
    background-color: #252525;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 12px 25px 0 rgba(0, 0, 0, 0.19);
}
#signin a, #logout a{
    color: white;
}
#signin a:hover, #logout a:hover{
    color: white;
    text-decoration: none;
}
#logout a img{
    width: 30px;
}

.icons{
   text-align: center;
}

.title, #btn-ajouter{
    padding-left: 0;
    padding-right: 0;
}
.menu a{
    color: #bdbdbd;
}
.menu a:hover{
    color: #e4e4e4;
    text-decoration: none;
}
.menu-active a{
    font-size: 25px;
    color: #ffffff;
}
.menu-active a:hover{
    text-decoration: none;
}
#add-file{
    color: white;
    background-color: #252525;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 20px;
    box-shadow: 0 5px 8px rgb(107, 107, 107);
}
#add-file img{
    width: 25px;
    padding-right: 2px;
}
#table-size{
    padding-left: 0px;
    padding-right: 0px;
}
table thead th, table thead td{
    border-top : none!important;
    border-bottom : none!important;
    color: white;
}
tbody td{
    background-color: rgba(255, 0, 0, 0)!important;
    color: white;
}
tbody tr:hover{
    cursor: pointer;
    background-color: #dbdbdb25!important;
}
#btn-download{
    color: white;
    background-color: #252525;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 20px;
    box-shadow: 0 5px 8px rgb(107, 107, 107);
}
#btn-download:hover{
    text-decoration: none;
}
#img-delete, #img-shared{
    width: 25px;
}
#img-burger{
    width: 30px;
    margin-left: 10px;
}
#photo-profil img{
    width: 250px;
    height: 250px;
}
#box{
    padding-top: 20px;
    padding-bottom: 20px;
    border: 3px dashed #252525;
    text-align: center;
    height: 100%;
}
#upload-file{
    border: none;
    background-color: rgb(85, 84, 84);
    color: rgb(167, 167, 167);
}
#upload-file:hover{
    border: none;
    cursor: pointer;
}
#upload-file:focus{
    border: none;
}
#btn-upload-file{
    display: none;
}
#send-submit{
    border: none;
    color: white;
    background-color: #252525;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 20px;
    box-shadow: 0 5px 8px rgb(107, 107, 107);
    cursor: pointer;
}
#box p,#box h5{
    color: white;
}